@import url("transitions.css");

body {
	background-color: grey;
	margin: 0px;
}

.project {
	position: relative;
	float: left;
	width: 300px;
	height: 300px;
	background-color: red;
	
}

.title {
	color: yellow;
	display: block;
	width: 300px;
	position: absolute;
	bottom: -20px;
	left: 0;
	background: black;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	opacity: 0;
	transition: opacity 0.5s ease-in;
}

.project:hover .title{
	opacity: 1;
}

#menu {
	height: 30px;
	width: 100%;
	bottom: 0px;
	position: fixed;
	display: block;
	background-color: lightgrey;
	left: 0px;
	-webkit-transition: height 0.5s ease-out;
	transition: height 0.5s ease-out;
}

#menu:hover {
	height: 50px;
}

#menu .menuTabText {
	margin-top: 1.5%;
	-webkit-transition: margin-top 0.5s ease-out;
	transition: margin-top 0.5s ease-out;
}

#menu:hover .menuTabText {
	margin-top: 4.5%;
}

#page {
	width: 800px;
	height: 100%;
	background-color: white;
	margin: 0px auto;
}

.menuBox {
	background-color: lightgrey;
	position: inline-block;
	width: 25%;
	height: 100%;
	float: left;
}


.menuBox:hover {
	background-color: blue;
}
