@import url("transitions.css");

body {
	background-color: grey;
	margin: 0px;
}

.project {
	position: relative;
	float: left;
	width: 300px;
	height: 300px;
	background-color: red;
	
}

.title {
	color: yellow;
	display: block;
	width: 300px;
	position: absolute;
	bottom: -20px;
	left: 0;
	background: black;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	opacity: 0;
	transition: opacity 0.5s ease-in;
}

.project:hover .title{
	opacity: 1;
}

#header {
	height: 100%;
	width: 200px;
	top: 0px;
	position: fixed;
	display: block;
	background-color: lime;
	left: -180px;
	-webkit-transition: left 0.5s ease-out;
	transition: left 0.5s ease-out;
}

#header:hover {
	left: 0px;
}

#page {
	width: 800px;
	height: 100%;
	background-color: white;
	margin: 0px auto;
}

.headerBox {
	background-color: red;
	width: 200px;
	height: 50px;
	float: left;
}

.headerBox:hover {
	background-color: blue;
}