@import url("transitions.css");

body {
	background-color: grey;
	margin: 0px;
}

#header {
	height: 100%;
	width: 200px;
	top: 0px;
	position: fixed;
	display: block;
	background-color: lime;
	left: -190px;
}

#header:hover {
    animation-name: headerBar;
    animation-duration: 1s;
	animation-fill-mode: forwards;
	-webkit-animation-name: headerBar; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
	-webkit-animation-fill-mode: forwards;  
}

@keyframes headerBar {
	from {left:-190px; top:0px;}
    to {left:0px; top:0px;}
}
@-webkit-keyframes headerBar {
	from {left:-190px; top:0px;}
    to {left:0px; top:0px;}
}

#page {
	width: 800px;
	height: 100%;
	background-color: white;
	margin: 0px auto;
}

.headerBox {
	background-color: red;
	width: 200px;
	height: 50px;
	float: left;
}

.headerBox:hover {
	background-color: blue;
}